{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <!-- <link rel="stylesheet" href="{% static 'css/employee_add.css' %}"> -->
</head>

<body>
    <div class="form-container">
        <!-- Form Header -->
        <div class="form-header">
            <h1>Add Employee</h1>
            <p>Create a new employee record</p>
        </div>

        <form action="{% url 'employee_add' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Employee</button>
        </form>
         

</body>
</html>
